APP_NAME=MapsoftPlatform
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8088
LOG_CHANNEL=stack
DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=mapsoft
DB_USERNAME=mapsoft
DB_PASSWORD=mapsoft
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=mapsoft
RABBITMQ_PASSWORD=mapsoft
QUEUE_CONNECTION=rabbitmq
CACHE_DRIVER=redis
